<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Credit Card Fraud</title>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        

        <!-- CSS style sheet associated to this project -->
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
      
    <body style="background-color:rgba(214, 186, 149, 0.781);text-align:center">
        <!-- Add Jumbotron to Header -->
        <div class="jumbotron text-center" style="background-image: url('../../images/card.PNG'); background-position: center; background-size: cover;height:130px">
        
            <div class ="container">
                <h1 style="color:black; text-align: justify;">Credit Card Fraud</h1>
            </div>
         
        </div>
      
        <nav class="navbar navbar-light" style="background-color:white; position: relative; z-index: 1;">
              <a class="navbar-brand" href="../../Index.html">Home</a>
              <a class="navbar-brand" href="../Fraud.html"> Fraud</a>
                <a class="navbar-brand" href="../Map.html">Map</a> 
              <a class="navbar-brand" href="../Model.html">Model</a>      
                   
        </nav>


        <div class="container"style="background-color: rgb(177, 175, 215)">
         <div class="row">
            <h3><strong> Fraudulent Transaction Assessment</strong></h3> <hr>
            <div class = "col-4">
            <!-- The sidebar -->
                <div class="sidebar">
                    <a href="../../index.html">Home</a>
                    <a href="../Fraud.html">Fraud - Home</a>
                    <a href="Fraud-Card-Access.html">Card Access</a>
                    <a href="Fraud-Target-Merchant.html">Targeted Merchants</a>
                    <a href="Fraud-by-Age.html">Based on User Age</a>
                    <a class="active" href="Fraud-about-Card.html"> Based on the Card</a>
                    <a href="Fraud-by-Location.html">Top 5 Location of Fraud</a>

                </div>
            </div>

            <div class = "col-8">
                <!-- Page content -->
                <div class="content">
                    <h4 style="text-align: left;">Fraudulent Transaction by Card Type</h4>
                    
                    <!-- Card Group -->
                    <div class = "card-group">
                        <!-- FIRST CARD -->
                        <div class="card">
                            <a target="_blank" href="../../images/pie_card_type.png"> 
                            <img class="card-img-bottom" src="../../images/pie_card_type.png" alt="Card Type" style="height: 90%; object-fit: cover;"></a>
                            <div class="card-body">
                            <h5 class="card-title"><strong> Fraud Occurence by Card Type</strong></h5>
                            <p class="card-text" style="text-align: left;">
                                Based on the dataset, Debit Bank Cards were more likely to be the victimized by fraudulent transactions followed by Credit Card,
                                 and, then by Debit Prepaid Cards. <br><br> Fraudulent Cases:
                                <ul style="text-align: left;"> 
                                    <li> Debit Cards 56.4%</li>
                                    <li> Credit Cards 33.9%</li>
                                    <li> Debit Prepaid Cards 9.7%</li>
                                </ul>
                            </p>
                            </div>
                        </div>
                        <!-- SECOND CARD -->
                        <div class="card">
                            <a target="_blank" href="../../images/pie_card_brand.png"> 
                            <img class="card-img-bottom" src="../../images/pie_card_brand.png" alt="Card Brand" style="height: 90%; object-fit: cover;"> </a>
                            <div class="card-body">
                            <h5 class="card-title"><strong>Fraud Occurence by Card Brand</strong></h5>
                            <p class="card-text" style="text-align: left;">
                                Would the card with less fraudulent activity be deemed as the safest card? Based on a comparison of the Card Brands, 
                                Discover Cards had less activity while Master Card had more than 50% of fraudulent activities against their card.
                                <ul style="text-align: left;">

                                <li>Master Card 53.1%</li>
                                <li>Visa Card 36.4%</li>
                                <li>American Express 7.0%</li>
                                <li>Discover 3.5%</li>
                               
                                </ul>
                            </p>
                            
                            </div>
                        </div>
                    </div>
                                           
                    
                </div>
            </div>
         

        </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    
    </body>


</html>
