<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Credit Card Fraud</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    
       <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style="background-image: url('../images/card.PNG'); background-position: center; background-size: cover;height: 250px;">
        <h1 style="color:black">Credit Card Fraud</h1>
        <nav class="navbar navbar-light">
              
             
          <a class="navbar-brand" href="../index.html">Home</a>
          <a class="navbar-brand" href="Fraud.html">Fraud</a>
          <a class="navbar-brand" href="Map.html">Map</a> 
          <a class="navbar-brand" href="Model.html">Model</a>       
                
                
              
            </nav>
            </div>
          
      </head>
      <body>
        <body style="background-color:rgba(214, 186, 149, 0.781);text-align:center">
          <h3>Heatmap of Fraudulent Transactions </h3>
          <p>
        <img src="../images/90_00_Fraud.PNG" width="800" height="400"></p>
        <h2> <a href="https://public.tableau.com/views/FraudovertheYears2001/Fraudfor2001-2010?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link ">1990-2000 Heatmap</a>
        </h2>
        <p>
          <img src="../images/01_10_Fraud.PNG" width="800" height="400"></p>
          <h2> <a href="https://public.tableau.com/views/FraudovertheYears/Fraudfor1990-2000?:language=en-US&:display_count=n&:origin=viz_share_link ">2001-2010 Heatmap</a>
          </h2>
          <p>
            <img src="../images/11_19_Fraud.PNG" width="800" height="400"></p>
            <h2> <a href="https://public.tableau.com/views/FraudovertheYears2011/Fraudfor2011-2019?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link ">2011-2019 Heatmap</a>
            </h2>
        </body>

        <div class="container"style="background-color:#54ebf0;">
            
      </div>

      
    
  </body>
</html>
