<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Credit Card Fraud</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    
       <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style="background-image: url('../images/card.PNG'); background-position: center; background-size: cover;height: 250px;">
        <h1 style="color:black">Credit Card Fraud</h1>
        <nav class="navbar navbar-light">
              
             
          <a class="navbar-brand" href="../index.html">Home</a>
          <a class="navbar-brand" href="Fraud.html">Fraud</a>
          <a class="navbar-brand" href="Map.html">Map</a> 
          <a class="navbar-brand" href="Model.html">Model</a>  
                
                
              
            </nav>
            </div>
          
      </head>
      <body>
        <body style="background-color:rgba(214, 186, 149, 0.781);text-align:center"></body>
        <div class="container"style="background-color:#54ebf0;">
            
          <p>
            In our research we reviewed approximately 24 million transactions spanning over a few years.  
            We looked as such details a the time of the transaction, the transaction type,a dnd the location of the transaction.  
            A tensorflow analysis shows that our findings are 99% accurate when compared to the overall dataset, with a sample of 
            1 million transactions.
          </p>
        </br>
          <p>
            A T-SNE review of the transactions, plotted below, shows that although the percentage of the transactions which were fraudulent is low, it is still statistically significant.
          </p>
        </br>
          <p>
            The bar graph data shown below shows that the most significant aspects to be aware of in analysis are whether or not the 
            transaction was performed online, with the most common catch being a bad zipcode entered in validating the card, and the type 
            of merchant where the transaction occured, with department stores and wharehouse stores being the most common targets of on 
            location fraudulent transactions. 
          </p>

          <img src="../images/ScatterPlot.PNG" style="width: 40%; height: 40%;">
          <img src="../images/BarPlot.PNG" style="width: 40%; height: 40%;">
      </div>

      
    
  </body>
</html>
